html {
  font-family: Helvetica, sans-serif;
}

h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  height: 250px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white
}

.header1 {
  background-color: mediumspringgreen;
}

.header2 {
  background-color: lightcoral;
}

.header3 {
  background-color: skyblue;
}

strong {
  color: blue;
}
